@font-face {
  font-family: Mau2099Font;
  src: url(./../assets/fonts/Parchment.ttf);
}
html,
body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e2e2e2;
  width: 100%;
  height: 100%;
  font-family: Mau2099Font, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles-js {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  max-width: 800px;
}

.loading {
  width: 100%;
  height: 100%;
}

#myProgress {
  width: 20%;
  background-color: transparent;
  z-index: 1;
}

#myBar {
  width: 0%;
  height: 30px;
  border-radius: 3px;
  background-image: repeating-linear-gradient(#022838, #023d5e);
  border-bottom: 2px solid #c1272d;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  .logo {
    max-width: 550px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    max-width: 350px;
  }
}
@media screen and (max-width: 320px) {
  .logo {
    max-width: 280px;
  }
}
